table.tableWord {
    border: medium double blue;
    table-border-color-light: aqua;
    background-color: aquamarine;
    width: 800px;
    height: 500px;
}

div.tableBox{
    margin-left: 40px;
    border: 1px solid black;
    width: 800px;
    height: 500px;
}