.maincontent {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    display: grid;
}

.gameinformation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    grid-column: 1;
    grid-row: 1;
}

.gamewords {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    grid-column: 1;
    grid-row: 3;
}

.gamewordsearch {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
    grid-column: 1;
    grid-row: 2;
}

.gamewordslist {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 4;
}

@media (min-width: 600px) {
    .maincontent {
        grid-template-columns: 65% 35%;
        grid-gap: 1rem;
        display: grid;
        margin: 0 3rem;
    }
    .gameinformation {
        grid-column: 1;
        grid-row: 1;
        width: 60%;
        margin: 0 auto;
    }

    .gamewords {
        grid-column: 2;
        grid-row: 1;
    }

    .gamewordsearch {
        grid-column: 1;
        grid-row: 2;
    }

    .gamewordslist {
        grid-column: 2;
        grid-row: 2;

    }
}