.maincontent {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    display: grid;
}

.gameinformation{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.gamewords{
    display: flex;
    align-items: center;
   justify-content: center;
    flex-direction: row;
    background: antiquewhite;
}
.gamewordsearch{
    background: blue;
    text-align: center;
}
.gamewordslist{
    display: flex;
    align-items: center;
    flex-direction: column;
}