.mainContent {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.startGame {
    background: #2d98da;
    text-decoration: none;
    padding: .4rem .8rem;
    border-radius: 4px;
    color: white;
}

.footer {
    display: flex;
    flex-direction: row;
}

.tgsIntroduction {
    text-align: center;
}

.imageContent {
    width: 152px;
    margin: 1rem;
}

.gameContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 0 2rem;
}

.boxContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #778ca3;
    color: white;
    padding: 1.5rem;
    border-radius: 8px;
}

.introductionText {
    margin: 2rem;
    text-align: justify;
    font-size: 25px;
}

@media (min-width: 600px) {
    .gameContent {
        grid-template-columns: 50% 50%;
    }

    .boxContent {
        margin-right: 1rem;
    }
}